<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/logs/library.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="nurbek.librarymanagementsystem.aop" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>