<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>

    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="page">
    <main class="max-w-screen-xl mx-auto p-4">
        <h1 th:text="${user.firstName} + ' ' + ${user.lastName}">firstname lastname</h1>
        <h1 th:text="${user.email}">email</h1>

        <div th:each="r: ${reservations}">
            <a th:href="'/users/' + ${r.id}"
               class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                     src="/docs/images/blog/image-4.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 th:classappend="${r.status.name()} == 'RESERVED' ? 'text-green-500' : 'text-red-500'"
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <span th:text="${r.status}">Reservation Status</span>
                    </h5>
                    <button th:if="${r.status.name()} == 'OVERDUE'"
                            th:onclick="'location.href=\'/users/reservation/renew/' + ${r.id} + '\''"
                            class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700">
                        Renew
                    </button>
                    <p th:text="'Reservation Date: ' + ${r.reservationDate}"
                       class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        reservation date
                    </p>
                    <p th:text="'Due Date: ' + ${r.dueDate}">
                        due date
                    </p>
                </div>
            </a>
        </div>


    </main>
</div>

<!-- Bootstrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>