<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>

    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="page">
    <main class="max-w-screen-xl mx-auto p-4">
        <ul th:if="${totalPages > 0}" style="margin: 1rem auto 1rem; display:flex; width:fit-content;"
            class="inline-flex -space-x-px text-base h-10">
            <li>
                <a th:if="${currentPage > 0}" th:href="@{'?page=' + ${currentPage - 1}}"
                   class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Previous
                </a>
                <span th:unless="${currentPage > 0}"
                      class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                      style="background-color: #d5d5d5; cursor:default;"
                >Previous</span>
            </li>
            <li th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                <a th:if="${currentPage != i}" th:href="@{'?page=' + ${i}}"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    [[${i + 1}]]
                </a>
                <span th:unless="${currentPage != i}" style="background-color:#1a56db; color:#ffffff;"
                      class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    [[${i + 1}]]
                </span>
            </li>
            <li>
                <a th:if="${currentPage < totalPages - 1}" th:href="@{'?page=' + ${currentPage + 1}}"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Next
                </a>
                <span th:unless="${currentPage < totalPages - 1}"
                      style="background-color: #d5d5d5; cursor:default;"
                      class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >Next</span>
            </li>
        </ul>

        <div>Total Rows: [[${totalItems}]]</div>

        <div th:each="user: ${users}">
            <a th:href="'/users/' + ${user.id}"
               class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                     src="/docs/images/blog/image-4.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <span th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</span>
                    </h5>
                    <p th:text="${user.email}"
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        user email
                    </p>
                </div>
            </a>
        </div>
    </main>
</div>

<!-- Bootstrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>